/* hamburger menu */

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background-color: black;
    width: 2em;
    height: 6px;
    border-radius: 1em;
}

.hamburger::before,
.hamburger::after{
    content:'';
    position: absolute;
    left:0;
    right: 0;
}

.hamburger::before{top: 12px;}
.hamburger::after{bottom: 12px;}

/*nav*/

.nav{
    display: block;
    position: fixed;
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    padding-top: 50px;
    z-index: 1;
}

.nav--hidden{
    transform: translateX(-100vw);
}

.nav__link{
    cursor: pointer;
    display: inline-block;
    width:100%;
    padding-top: 10%;
    text-align: center;
    font-size: var(--f-p);
    color:black;
    text-decoration: none;
}

button.nav--toggle{
    height: 100%;
    width: 100%;
    background-color: none;
    color: inherit;
	border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    
    z-index: 1;
}

/* header */ 

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
}

.header__h1{
    position: relative;
}

/* main */

img.cake{
    display: block;
    flex-grow:1;
    width:90vw;

    transform:scaleX(-1);
    opacity: 0.3;
}



/* header 

.head{
    margin: 0 auto;
    width:90%;
    height: 10vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.nav-toggle{
    display: inline-block;
    height: 20px;
    
    background-color:inherit;
    border:none;

    cursor: pointer;
}



@media(min-width:800px){
div.main{
    margin: 0 auto;
    width:100%;
    height: 90vh;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

div.invite{
    padding-left: 5%;
    width:80%;
    flex-grow: 2;

    align-self: flex-start;
}

button.order{
    margin: 2rem 0;
    width: 5rem;
    border-radius:20px;
    background-color: white;
}

button.order a{
    text-decoration: none;
    color:black;
}



}

/*gallery*/
