@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:15px;
}

:root{
    --bg-color: linear-gradient(180deg, #FFE4D9 0%, #FFFFFF 100%);

    --f-h1:3rem;
    --f-h2:2rem;
    --f-p:1.2rem;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    width: 100vw;

    background-image: var(--bg-color);
    background-repeat: no-repeat;
    
    font-family: 'Nunito', sans-serif;
}


h1{
    font-size: var(--f-h1);
}

h2{
    font-size: var(--f-h2);
}

p{
    font-size: var(--f-p);
}

button.simple{
  margin-top: 4%;  
  width: 110px;
  height: 40px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

button a{
    text-decoration: none;
    font-size: calc(var(--f-p) * 1.2);  
    color: black;
}

